<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <h2>Athletes Database</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 add-new">
        <a ui-sref="form.basicinfo" class="btn btn-warning">+ Add New</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th ng-click="orderByFilter('basicinfo.name')">Name</th>
            <th ng-click="orderByFilter('basicinfo.sport')">Sport</th>
            <th ng-click="orderByFilter('basicinfo.nationality')">Nationality</th>
            <th ng-click="orderByFilter('about.location')">Location</th>
        </tr>
    </thead>
    <tr ng-repeat="athlete in athletes | orderBy: orderByProperty" ng-click="">
        <td>{{athlete.basicinfo.name}}</td>
        <td>{{athlete.basicinfo.sport}}</td>
        <td>{{athlete.basicinfo.nationality}}</td>
        <td>{{athlete.about.location}}</td>
    </tr>
</table>    