<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
</div>
<h2>Social Info</h2>
<div class="form-group">
    <label for="twitter">Twitter Handle</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div>
        <input name="twitter" id="twitter" class="form-control" type="text" ng-model="athlete.social.twitter" aria-describedby="twitterHelp" placeholder="Athlete's twitter handle URL">
    </div>
        <small id="twitterHelp" class="form-text text-muted">Enter the twitter handle name</small>
        <span class="error" ng-show="athlete.twitter.$touched && athlete.twitter.$invalid">Twitter handle is required</span>
    
    
</div>
<div class="form-group">
    <label for="facebook">Facebook Page</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">facebook.com/</div>
        </div>
        <input name="facebook" id="facebook" class="form-control" type="text" ng-model="athlete.social.facebook" aria-describedby="facebookHelp" placeholder="Athlete's facebook page URL">
    </div>
        <small id="twitterHelp" class="form-text text-muted">Enter the facebook page name</small>
        <span class="error" ng-show="athlete.facebook.$touched && athlete.facebook.$invalid">Facebook page is required</span>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a ui-sref="form.about" class="btn btn-block btn-warning">&#171; Previous</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a ui-sref="form.summary" class="btn btn-block btn-info">Next Section &#187;</a>
    </div>
</div>